@import '_common.scss';

// 头部
// .pyg_header{}

// 主要内容区
.pyg_view {

  .mui-content {
    .mui-input-group {
      margin-top: 20px;

      .mui-input-row {
        label {
          width: 20%;
        }

        input {
          width: 80%;
        }
      }
    }

    .mui-content-padded {
      margin: 20px;

      .mui-btn {

        padding: 10px 0;
      }
    }
  }
}