@import '_common.scss';

.pyg_view {

  .mui-content {
    padding: 10px 5px;

    .mui-input-group {
      .mui-input-row {
        label {
          width: 30%;
        }

        input {
          width: 70%;
        }
      }

      #verification {
        position: absolute;
        top: 3px;
        right: 5px;
        width: auto;
        padding: 8px;
      }
    }

    .userSex {
      display: flex;
      justify-content: space-between;

      .boy_wrap {
        flex: 1;
        position: relative;
      }

      .gril_wrap {
        position: relative;
        flex: 1;
      }
    }

    .mui-content-padded {
      #reg {
        padding: 10px 0;
      }
    }
  }


}