@import "_common.scss";

// 头部tab栏
.pyg_header {

  #pyg_delete {
    margin-right: 0;
    top: 5px;
  }

  #pyg_edit {
    margin-left: 0px;
    top: 5px;
  }
}

// 主要内容区
.pyg_view {
  padding: 0 10px;

  // 配送地址
  .pyg_address {
    margin-top: 40px;

    .addr_title {
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .addr_wrap {

      li {

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .mui-media-body {
            flex: 1;
          }

          .mui-icon-arrowright {
            font-size: 16px;
            color: #bbb;
          }
        }
      }
    }
  }

  // 总价
  .pyg_total_price {
    margin-top: 20px;

    .total_price_title {
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .total_price_wrap {

      li {

        a {
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .totalPrice {

            .price_wrap {
              color: #f70000;
              margin-left: 5px;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .makeOrder {
            // margin-right: 20px;
          }
        }
      }
    }
  }

  // 订单
  .pyg_order {
    margin-top: 20px;

    .order_title {
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .pyg_order_wrap {
      @include ul_reset();

      li {
        display: flex;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #c8c7cc;
        background-color: #fff;

        .ow_left {
          overflow: hidden;
          flex: 2;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px;
          // background-color: #ccc;

          #checkBtn_wrap {
            display: flex;
            height: 100%;
            flex: 1;
            // width: 100%;
            justify-content: center;
            align-items: center;

            .checkBtn {
              left: 0px;
              top: 20px;
            }
          }

          .goods_img {
            flex: 2;

            img {}
          }

        }

        .ow_right {
          flex: 4;
          padding-left: 5px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .pyg_goods_name {
            font-size: 14px;
            height: 45px;
            overflow: hidden;
            color: #666;
          }

          .pyg_goods_price_wrap {
            display: flex;
            justify-content: space-between;

            .goods_price {
              font-size: 18px;
              display: flex;
              align-items: center;
              color: #f70000;
            }

            .num_wrap {}
          }
        }
      }
    }

  }

  // 
}

body {
  display: none;
}

/* 控制按钮的隐藏 */
#pyg_body {

  #pyg_delete,
  #checkBtn_wrap {
    display: none;
  }
}

/* 控制按钮的显示 */
#pyg_body.edit {

  #pyg_delete,
  #checkBtn_wrap {
    display: block;
  }
}